<section class="about">
  <div class="about-content">
    <h1>Yu-Gi-Oh Card Maker</h1>
    <h3>Matthew Landis</h3>
    <p>I'm proud to present my rendition of a Yu-Gi-Oh! card maker.
    Click below to start creating cards!</p>
    <hr>
    <div class="btn-box">
      <a href="/CardMaker" class="btn">Card Creation</a>
    </div>
    <div class="disclaimer">
      <p style="font-size: 2rem;">Disclaimer:</p>
      <p>This project is a fan-made application and is not affiliated with, endorsed by, 
        or associated with Konami or the official Yu-Gi-Oh! franchise. All Yu-Gi-Oh! trademarks 
        and copyrights belong to their respective owners. This site is for personal, non-commercial use only.</p>
    </div>
  </div>
</section>