<div class="background-cards-container" #backgroundCardsContainer></div>

<main class="about-content">
  <section class="aboutBox">
    <h1>Yu-Gi-Oh Card Maker</h1>
    <h2>Matthew Landis</h2>
    <p>I'm proud to present my rendition of a Yu-Gi-Oh! card maker.
      Click below to start creating cards!</p>
    <hr>
    <div class="btn-box">
      <a href="/CardMaker" class="btn">Create Cards Here</a>
    </div>
  </section>
  <aside class="disclaimerBox">
    <h1>Disclaimer:</h1>
    <p>This project is a fan-made application and is not affiliated with, endorsed by,
      or associated with Konami or the official Yu-Gi-Oh! franchise. All Yu-Gi-Oh! trademarks
      and copyrights belong to their respective owners. This site is for personal, non-commercial use only.</p>
  </aside>
</main>