.header {
  border-bottom: .2rem solid var(--main-color);
  padding: 2rem;
  background: var(--bg-color);
  align-items: center;
  transition: .3s;
}

.navbar {
  text-align: center;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 500;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}