<app-background-animation></app-background-animation>
<div class="cardMaker-content">
  <div class="cardPreview">
    <div class="card">
      <div class="print" id="card-print-area" #cardPrintArea>
        <div class="CardDisplay">
          <div class="imageContainer" *ngIf="!pendulumTemplate">
            <img *ngIf="!imageUrl" src="assets/placeholderArt.webp" />
            <img *ngIf="imageUrl" [src]="imageUrl" />
          </div>
        </div>
        <div class="CardDisplay">
          <img src="assets/CardTemplates/{{template}}Template.png" />
        </div>
        <div class="CardDisplay">
          <div class="pendulumContainer" *ngIf="pendulumTemplate">
            <img *ngIf="!imageUrl" src="assets/placeholderArt.webp" />
            <img *ngIf="imageUrl" [src]="imageUrl" />
          </div>
        </div>
        <div class="CardDisplay">
          <div class="TitleTextbox">
            <p class="CardTitle" [ngClass]="titleStyle" [style.transform]="'scaleX(' + (scaleTitle * 0.96) + ')'">{{
              title }}</p>
          </div>
          <img *ngIf="template==='Spell'" src="assets/spellTypes/{{spellType}}.png">
          <img *ngIf="template==='Trap'" src="assets/trapTypes/{{trapType}}.png">

          <div *ngIf="pendulumTemplate">
            <img src="assets/CardTemplates/PendulumTemplates/PendulumShade/Pendulum{{template}}.png" />
            <img src="assets/CardTemplates/PendulumTemplates/PendulumTemplate.png" />
            <p class="PendulumScale" style="left: -29px;">{{pendulumScale}}</p>
            <p class="PendulumScale" style="left: 288px;">{{pendulumScale}}</p>
          </div>

          <div *ngIf="template === 'Link'">
            <img *ngIf="linkArrows.topLeft" src="assets/linkArrows/TopLeftArrow.png" />
            <img *ngIf="linkArrows.top" src="assets/linkArrows/TopArrow.png" />
            <img *ngIf="linkArrows.topRight" src="assets/linkArrows/TopRightArrow.png" />
            <img *ngIf="linkArrows.left" src="assets/linkArrows/LeftArrow.png" />
            <img *ngIf="linkArrows.right" src="assets/linkArrows/RightArrow.png" />
            <img *ngIf="linkArrows.bottomLeft" src="assets/linkArrows/BottomLeftArrow.png" />
            <img *ngIf="linkArrows.bottom" src="assets/linkArrows/BottomArrow.png" />
            <img *ngIf="linkArrows.bottomRight" src="assets/linkArrows/BottomRightArrow.png" />
          </div>

          <div *ngIf="!['Spell', 'Trap', 'Skill','Legendary Dragon'].includes(template)">
            <img src="assets/attributes/{{attribute}}.png" />
            <img *ngIf="levelType === 'Level'" src="assets/levels/level{{level}}.png" />
            <img *ngIf="levelType === 'Negative Level'" src="assets/levels/nLevel{{level}}.png" /> <img
              *ngIf="levelType === 'Rank'" src="assets/ranks/rank{{level}}.png" />
          </div>

          <div *ngIf="!['Spell', 'Trap'].includes(template)">
            <p class="monsterType" [style.transform]="'scaleX(' + scaleMonsterType + ')'">
              <span class="bracket">[</span>
              <span class="content">
                <span>{{ getFormattedPrimaryMonsterTypes() }}</span>
                <span *ngIf="coreMonsterType">
                  <span class="slash">/</span>
                  <span>{{ coreMonsterType }}</span>
                </span>
                <span *ngIf="pendulumTemplate">
                  <span class="slash">/</span>
                  <span>Pendulum</span>
                </span>
                <span *ngIf="abilityMonsterType">
                  <span class="slash">/</span>
                  <span>{{ abilityMonsterType }}</span>
                </span>
                <span *ngIf="lastMonsterType">
                  <span class="slash">/</span>
                  <span>{{ lastMonsterType }}</span>
                </span>
              </span>
              <span class="bracket">]</span>
            </p>
          </div>

          <div *ngIf="!['Spell', 'Trap'].includes(template)">
            <div class="loreText">
              <div #loreTextDisplay class="loreTextContent"
                [ngStyle]="effectTypes === 'Lore' ? {'font-style': 'italic'} : {}">{{ effectText }}</div>
            </div>
          </div>

          <div *ngIf="pendulumTemplate">
            <div class="pendulumText">
              <div #pendulumEffectTextDisplay class="pendulumEffectTextContent">{{ pendulumEffectText }}</div>
            </div>
          </div>

          <div *ngIf="['Spell', 'Trap'].includes(template)">
            <div class="spellTrapText">
              <div #spellTrapEffectTextDisplay class="spellTrapTextContent">{{ spellTrapEffect }}</div>
            </div>
          </div>

          <div *ngIf="!['Skill', 'Legendary Dragon', 'Spell', 'Trap'].includes(template)">
            <p class="atkDef" style=" left: 186px;">{{ attack }}</p>
            <p *ngIf="template !== 'Link'" class="atkDef" style=" left: 267px;">{{ defense }}</p>
          </div>
          <p class="LinkRating" *ngIf="template === 'Link'">{{ linkRating }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="c2">
  <aside class="cardMaker">
    <div class="templates">
      <label class="label">Templates</label>
      <div class="templateRow1">
        <button *ngFor="let template of templateTypesRow1" [class]="template" (click)="templateUpdate(template)">{{
          template }}</button>
      </div>
      <div class="templateRow2">
        <button *ngFor="let template of templateTypesRow2" [class]="template" (click)="templateUpdate(template)">{{
          template }}</button>
        <button #templateDropdownToggle class="dropdown-toggle " (click)="toggleTemplateDropdown()">Other
          <i class='bx bx-chevron-down'></i>
          <ul #templateDropdownList class="dropdown-options" *ngIf="showTemplateDropdown">
            <button *ngFor="let template of dropdownButtonTypes" [class]="template.replace(' ', '')"
              (click)="templateUpdate(template); toggleTemplateDropdown();">
              {{ template }}
            </button>
          </ul>
        </button>
      </div>
    </div>
    <div class="section">
      <div class="section2">
        <div class="titleInputField">
          <label class="label">Title</label>
          <input class="input" type="text" width="100%" [(ngModel)]="title" (input)="autoTitleTextAdjustment()" />
        </div>
        <div class="titleInputField" *ngIf="this.template ==='Skill'">
          <label class="label">Skill User</label>
          <input class="input" type="text" size="10" [(ngModel)]="primaryMonsterTypeSlots[0].selectedValue"
            (input)="onPrimaryTypeInput(primaryMonsterTypeSlots[0])">
        </div>
        <div *ngIf="this.template ==='Spell'" class="labelInputField">
          <label class="label">Type of Spell</label>
          <select class="input" [(ngModel)]="spellType" (change)="updateSpellType(spellType)">
            <option *ngFor="let type of spellTypes" [value]="type">{{type}}</option>
          </select>
        </div>
        <div *ngIf="this.template ==='Trap'" class="labelInputField">
          <label class="label">Type of Trap</label>
          <select class="input" [(ngModel)]="trapType" (change)="updateTrapType(trapType)">
            <option *ngFor="let type of trapTypes" [value]="type">{{type}}</option>
          </select>
        </div>
        <div *ngIf="!['Spell', 'Trap', 'Skill', 'Legendary Dragon'].includes(template)" class="labelInputField">
          <label class="label">Attribute</label>
          <div class="attributeRow">
            <button *ngFor="let attribute of attributeTypes" [class]="attribute" (click)="updateAttribute(attribute)">
            </button>
          </div>
        </div>
        <div *ngIf="!['Spell', 'Trap', 'Skill', 'Legendary Dragon', 'Link'].includes(template)" class="labelInputField">
          <label class="label">{{levelType}}</label>
          <div class="levelRow">
            <button *ngFor="let lvl of [1,2,3,4,5,6,7,8,9,10,11,12,13]" (click)="updateLevelValue(lvl)" [ngClass]="{
              'level-active': levelType === 'Level' && shouldApplyBackground(lvl),
              'rank-active': levelType === 'Rank' && shouldApplyBackground(lvl),
              'nlevel-active': levelType === 'Negative Level' && shouldApplyBackground(lvl) }">
              {{lvl}}
            </button>
          </div>
        </div>
      </div>
      <div class="section2">
        <div *ngIf="this.template !=='Skill'" class="labelInputField">
          <label class="label">Title Styles</label>
          <select class="input" [(ngModel)]="titleStyle">
            <option *ngFor="let TitleStyle of titleStyles">{{ TitleStyle }}</option>
          </select>
        </div>
        <div *ngIf="['Normal', 'Effect', 'Ritual', 'Fusion', 'Synchro', 'Xyz'].includes(template)"
          class="labelInputField">
          <label class="label">Pendulum Template</label>
          <input class="checkbox" type="checkbox" [(ngModel)]="pendulumTemplate"
            (change)="autoMonsterTypeAdjustment(); onPendulumEffectTextChange()" />
        </div>
        <div *ngIf="pendulumTemplate">
          <div class="labelInputField" style="width: 100%;">
            <label class="label">
              <img src="assets/leftScale.png">
              Pendulum Scale
              <img src="assets/rightScale.png">
            </label>
            <select class="input" [(ngModel)]="pendulumScale">
              <option *ngFor="let value of [1,2,3,4,5,6,7,8,9,10,11,12,13]">{{value}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!['Spell', 'Trap', 'Skill', 'Legendary Dragon'].includes(template)">
      <div class="monsterTypes">
        <div>
          <label class="label">Monster Type
            <div class="icon" (click)="addPrimaryMonsterTypeSlot()">
              <i class='bx bx-plus'></i>
            </div>
          </label>
          <div class="dropdown">
            <input class="input" type="text" size="10" [(ngModel)]="primaryMonsterTypeSlots[0].selectedValue"
              (input)="onPrimaryTypeInput(primaryMonsterTypeSlots[0])">
            <button #primaryMonsterTypeDropdownToggle class="dropdown-toggle" (click)="toggleMonsterTypeDropdown()">
              <i class='bx bx-chevron-down'></i>
            </button>
            <ul #primaryMonsterTypeDropdownList class="dropdownList" *ngIf="showMonsterTypeDropdown">
              <li *ngFor="let value of primaryMonsterTypes"
                (click)="selectMonsterTypeFromDropdown(primaryMonsterTypeSlots[0], value)">
                {{ value }}
              </li>
            </ul>
          </div>
        </div>
        <div *ngFor="let slot of primaryMonsterTypeSlots.slice(1); let i = index; trackBy: trackById">
          <div>
            <label class="label">Extra Type {{ i + 2 }}
              <div class="icon" (click)="removePrimaryMonsterTypeSlot(slot.id)">
                <i class='bx bx-minus'></i>
              </div>
            </label>
            <div class="dropdown">
              <input class="inputExtra" type="text" size="10" [(ngModel)]="slot.selectedValue"
                (input)="onPrimaryTypeInput(slot)">
            </div>
          </div>
        </div>
        <div *ngIf="this.template !=='skill'">
          <label class="label">Ability Type</label>
          <div class="dropdown">
            <input class="input" type="text" size="5" [(ngModel)]="abilityMonsterType" (input)="onAbilityInput()">
            <button #abilityDropdownToggle class="dropdown-toggle" (click)="toggleAbilityDropdown()">
              <i class='bx bx-chevron-down'></i>
            </button>
            <ul #abilityDropdownList class="dropdownList" *ngIf="showAbilityDropdown">
              <li *ngFor="let value of abilityMonsterTypes"
                (click)="selectAbilityFromDropdown(value); toggleAbilityDropdown()">
                {{ value }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div *ngIf="!['Spell', 'Trap'].includes(template)" class="effectInputs">
        <div class="group">
          <p class="label">Card {{effectTypes}} Text</p>
          <textarea class="textarea" [(ngModel)]="effectText" rows="8" cols="40"
            [ngStyle]="effectTypes === 'Lore' ? {'font-style': 'italic'} : {}" (input)="onEffectTextChange()"
            (paste)="onEffectTextChange()">
          </textarea>
        </div>
      </div>

      <div *ngIf="['Spell', 'Trap'].includes(template)" class="effectInputs">
        <div class="group">
          <p class="label">{{template}} Effect Text</p>
          <textarea class="textarea" [(ngModel)]="spellTrapEffect" rows="8" cols="40"
            (input)="onSpellTrapEffectTextChange()" (paste)="onSpellTrapEffectTextChange()">
          </textarea>
        </div>
      </div>

      <div *ngIf="pendulumTemplate" class="effectInputs">
        <div class="group">
          <p class="label">Pendulum Effect Text</p>
          <textarea class="textarea" [(ngModel)]="pendulumEffectText" rows="8" cols="40"
            (input)="onPendulumEffectTextChange()" (paste)="onPendulumEffectTextChange()">
          </textarea>
        </div>
      </div>

      <div *ngIf="template === 'Link'" class="effectInputs">
        <div class="group">
          <p class="label">Link Arrows</p>
          <div class="linkArrowsGrid">
            <div class="cell">
              <label>
                <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.topLeft"
                  (change)="updateLinkRating()" />
              </label>
            </div>
            <div class="cell">
              <label>
                <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.top"
                  (change)="updateLinkRating()" />
              </label>
            </div>
            <div class="cell">
              <label>
                <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.topRight"
                  (change)="updateLinkRating()" />
              </label>
            </div>
            <div class="cell">
              <label>
                <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.left"
                  (change)="updateLinkRating()" />
              </label>
            </div>
            <div class="cell">
              <div class="cellCenter" (click)="resetLinkRating()">R</div>
            </div>
            <div class="cell">
              <label>
                <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.right"
                  (change)="updateLinkRating()" />
              </label>
            </div>
            <div class="cell">
              <label>
                <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.bottomLeft"
                  (change)="updateLinkRating()" />
              </label>
            </div>
            <div class="cell">
              <label>
                <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.bottom"
                  (change)="updateLinkRating()" />
              </label>
            </div>
            <div class="cell">
              <label>
                <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.bottomRight"
                  (change)="updateLinkRating()" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngIf="!['Spell', 'Trap', 'Skill', 'Legendary Dragon'].includes(template)" class="row2">
        <div class="labelInputField">
          <label class="short">Attack</label>
          <input class="input" type="text" size="1" [(ngModel)]="attack" />
        </div>
        <div *ngIf="template != 'Link'" class="labelInputField">
          <label class="short">Defense</label>
          <input class="input" type="text" size="1" [(ngModel)]="defense" />
        </div>
      </div>
    </div>
    <div class="labelInputField">
      <label class="short">Card Art</label>
      <input type="file" id="file-upload" (change)="onImageSelected($event)" style="margin-left: 1rem;" />
    </div>
    <div class="btn">
      <div (click)="generateCardPng()">Generate Card Image</div>
    </div>
  </aside>
</div>
</div>