@font-face {
  font-family: 'matrixregularsmallcaps';
  src: url('../../../public/assets/fonts/MatrixRegularSmallCaps.ttf') format('truetype');
}

@font-face {
  font-family: 'yugiohmonstertype';
  src: url('../../../public/assets/fonts/monsterType.ttf') format("truetype");
}

@font-face {
  font-family: 'matrixboldsmallcaps';
  src: url('../../../public/assets/fonts/MatrixBoldSmallCaps.otf') format('opentype');
}

@font-face {
  font-family: 'rogsansrfstd-ub';
  src: url('../../../public/assets/fonts/RoGSanSrfStd-UB.otf') format('opentype');
}

@font-face {
  font-family: 'matrixboldfractions';
  src: url('../../../public/assets/fonts/MatrixBoldFractions.otf') format('opentype');
}

@font-face {
  font-family: 'lore';
  src: url('../../../public/assets/fonts/lore.ttf') format('truetype');
}

.cardmaker-content {
  position: relative;
  font-family: monospace;
  display: flex;
}

.sidebarRight {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  width: 40rem;

}

.Display {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.print {
  width: 400px;
  height: 600px;
  position: relative;
  transform-origin: top center;
}

.CardDisplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.CardDisplay img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
}

.TitleTextbox {
  position: absolute;
  top: 28px;
  left: 26px;
  width: 306px;
  height: 38px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
}

.CardTitle {
  font-size: 40pt;
  font-family: 'matrixregularsmallcaps';
  white-space: nowrap;
  transform-origin: left center;
}

.Common {
  color: black;
}

.Rare {
  color: white;
}

.SecretRare {
  background-image: linear-gradient(#fff211 35%, #fffff8 40%, #fff211 48%, #bd920f 53%, #f7ce1e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: grayscale(100%) drop-shadow(-1px 0 rgba(0, 0, 0, 0.4)) drop-shadow(1px 0 rgba(0, 0, 0, 0.4)) drop-shadow(0 -1px rgba(0, 0, 0, 0.4)) drop-shadow(0 1px rgba(0, 0, 0, 0.3)) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.UltraRare {
  background-image: linear-gradient(#fff211 35%, #fffff8 40%, #fff211 48%, #bd920f 53%, #f7ce1e 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(-1px 0 rgba(0, 0, 0, 0.2)) drop-shadow(1px 0 rgba(0, 0, 0, 0.2)) drop-shadow(0 -1px rgba(0, 0, 0, 0.2)) drop-shadow(0 1px rgba(0, 0, 0, 0.2)) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
}

.Skill {
  color: white;
  font-size: 57px;
  font-family: Arial;
  font-weight: 700;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
  letter-spacing: -4px;
}

.link-arrow-grid {
  transform: scale(1.5);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 120px;
  height: 120px;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

.monsterType {
  position: absolute;
  top: 445px;
  left: 29px;
  font-size: 13pt;
  font-family: 'yugiohmonstertype';
  white-space: nowrap;
  overflow: hidden;
  transform-origin: left center;
}

.monsterType .bracket {
  margin: 2px;
}

.monsterType .content {
  position: relative;
  top: 2px;
}

.monsterType .slash {
  margin: 2px;
}

.CardEffectTextbox {
  position: absolute;
  top: 470px;
  left: 32px;
  width: 337px;
  transform-origin: left center;
}

.SpellTrapTextbox {
  position: absolute;
  top: 866px;
  left: -356px;
  width: 672px;
  transform-origin: left center;
}

.PendulumEffectTextbox {
  position: absolute;
  top: 378px;
  left: 62px;
  width: 278px;
  transform-origin: left center;
}

.loreText {
  text-align: justify;
  transform-origin: left;
  line-height: 1;
  white-space: pre-line;
  font-size: 10pt;
  letter-spacing: -0.2pt;
  word-spacing: -1pt;
}

.PendulumText,
.spellText {
  text-align: justify;
  line-height: 1;
  white-space: pre-line;
  font-size: 10pt;
  font-family: 'MatrixBook';
}

.atkDef {
  position: absolute;
  font-size: 14pt;
  font-family: 'matrixboldsmallcaps';
  text-align: right;
  top: 547px;
}

.LinkRating {
  font-family: 'rogsansrfstd-ub';
  position: absolute;
  top: 541px;
  left: 354px;
  transform: scaleX(1.2);
  font-size: 11pt;
}

.PendulumScale {
  position: absolute;
  top: 300pt;
  font-family: 'matrixboldfractions';
  font-size: 30pt;
  text-align: center;
  width: 100pt;
  letter-spacing: -6px;
}

.imageContainer,
.pendulumContainer {
  position: absolute;
}

.imageContainer {
  top: 111px;
  left: 49px;
  width: 302px;
  height: 310px;
}

.pendulumContainer {
  top: 107px;
  left: 27px;
  width: 346px;
  height: 339px;
}

.imageContainer img,
.pendulumContainer img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}


.btn-box {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5rem;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 100%;
  background-color: var(--bg-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.btn-box .btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}

.btn-box .btn:hover {
  color: var(--bg-color);
}

.btn-box .btn:hover::before {
  width: 100%;
}

.textarea-field textarea {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  z-index: 1;
}


.template-dropdown {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 5rem;
  background-color: var(--bg-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.6rem;
  color: var(--text-color);
  cursor: pointer;

}

.core {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--bg-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  padding: 1rem;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.core .hint {
  color: var(--main-color);
  margin-bottom: 1rem;
  text-align: right;
}

.flex2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-flex {
  display: flex;
}

.background-cards-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.cardBox {
  position: absolute;
  width: 12rem;
  height: 17.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  box-sizing: border-box;
  animation: fall-spin 10s linear infinite;
  opacity: 0;
  will-change: transform, opacity;
}

.cardOval {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 10rem;
  background: var(--main-color);
  border-radius: 50%;
}

/* Keyframes for falling and spinning animation */
@keyframes fall-spin {
  0% {
    transform: translate(0, -100px) rotateY(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 120vh) rotateY(360deg);
    opacity: 0;
  }
}