<app-background-animation></app-background-animation>
<div class="cardMaker-content">
  <div class="space">
    <div class="Display" #displayContainer>
      <div class="print" id="card-print-area" #cardPrintArea>
        <div class="CardDisplay">
          <div class="imageContainer" *ngIf="!pendulumTemplate">
            <img *ngIf="!imageUrl" src="assets/placeholderArt.webp" />
            <img *ngIf="imageUrl" [src]="imageUrl" />
          </div>
        </div>
        <div class="CardDisplay">
          <img src="assets/CardTemplates/{{template}}Template.png" />
        </div>
        <div class="CardDisplay">
          <div class="pendulumContainer" *ngIf="pendulumTemplate">
            <img *ngIf="!imageUrl" src="assets/placeholderArt.webp" />
            <img *ngIf="imageUrl" [src]="imageUrl" />
          </div>
        </div>
        <div class="CardDisplay">
          <div class="TitleTextbox">
            <p class="CardTitle" [ngClass]="titleStyle" [style.transform]="'scaleX(' + (scaleTitle * 0.96) + ')'">
              {{ title }}
            </p>
          </div>
          <div *ngIf="pendulumTemplate">
            <img src="assets/CardTemplates/PendulumTemplates/PendulumShade/Pendulum{{template}}.png" />
            <img src="assets/CardTemplates/PendulumTemplates/PendulumTemplate.png" />
            <p class="PendulumScale" style="left: -29px;">{{pendulumScale}}</p>
            <p class="PendulumScale" style="left: 288px;">{{pendulumScale}}</p>
          </div>
          <div *ngIf="template === 'Link'">
            <img *ngIf="linkArrows.topLeft" src="assets/linkArrows/TopLeftArrow.png" />
            <img *ngIf="linkArrows.top" src="assets/linkArrows/TopArrow.png" />
            <img *ngIf="linkArrows.topRight" src="assets/linkArrows/TopRightArrow.png" />
            <img *ngIf="linkArrows.left" src="assets/linkArrows/LeftArrow.png" />
            <img *ngIf="linkArrows.right" src="assets/linkArrows/RightArrow.png" />
            <img *ngIf="linkArrows.bottomLeft" src="assets/linkArrows/BottomLeftArrow.png" />
            <img *ngIf="linkArrows.bottom" src="assets/linkArrows/BottomArrow.png" />
            <img *ngIf="linkArrows.bottomRight" src="assets/linkArrows/BottomRightArrow.png" />
          </div>
          <div *ngIf="!['Spell', 'Trap', 'Skill','Legendary Dragon'].includes(template)">
            <img *ngIf="!['Spell', 'Trap', 'Skill','Legendary Dragon'].includes(template)"
              src="assets/attributes/{{attribute}}.png" />
            <img *ngIf="levelType === 'Level'" src="assets/levels/level{{level}}.png" />
            <img *ngIf="levelType === 'Negative Level'" src="assets/negativeLevels/nLevel{{level}}.png" />
            <img *ngIf="levelType === 'Rank'" src="assets/ranks/rank{{level}}.png" />
          </div>
          <div *ngIf="!['Spell', 'Trap'].includes(template)">
            <p class="monsterType" [style.transform]="'scaleX(' + scaleMonsterType + ')'">
              <span class="bracket">[</span>
              <span class="content">
                <span>{{ getFormattedPrimaryMonsterTypes() }}</span>
                <span *ngIf="coreMonsterType">
                  <span class="slash">/</span>
                  <span>{{ coreMonsterType }}</span>
                </span>
                <span *ngIf="pendulumTemplate">
                  <span class="slash">/</span>
                  <span>Pendulum</span>
                </span>
                <span *ngIf="abilityMonsterType">
                  <span class="slash">/</span>
                  <span>{{ abilityMonsterType }}</span>
                </span>
                <span *ngIf="lastMonsterType">
                  <span class="slash">/</span>
                  <span>{{ lastMonsterType }}</span>
                </span>
              </span>
              <span class="bracket">]</span>
            </p>
          </div>
          <div *ngIf="pendulumTemplate" class="PendulumEffectTextbox">
            <p class="PendulumText" [style.transform]="'scaleX(' + scalePendulumEffect + ')'">
              {{ pendulumEffectText }}
            </p>
          </div>
          <div *ngIf="!['Spell', 'Trap'].includes(template)">
            <div class="CardEffectTextbox" #monsterEffectTextContainer>
              <p class="loreText" [style.transform]="'scale(' + scaleEffect + ')'" #monsterEffectTextElement
                [ngStyle]="effectTypes === 'Lore' ? {'font-style': 'italic'} : {'font-family': 'MatrixBook' }">
                {{ effectText }}
              </p>
            </div>
            <div *ngIf="!['Skill', 'Legendary Dragon'].includes(template)">
              <p class="atkDef" style=" left: 186px;">{{ attack }}</p>
              <p *ngIf="template !== 'Link'" class="atkDef" style=" left: 267px;">{{ defense }}</p>
            </div>
            <p class="LinkRating" *ngIf="template === 'Link'">{{ linkRating }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <aside class="cardMaker">
    <div class="templates">
      <label class="label">Templates</label>
      <div class="templateRow1">
        <button class="normal" (click)="templateUpdate('Normal')">Normal</button>
        <button class="effect" (click)="templateUpdate('Effect')">Effect</button>
        <button class="ritual" (click)="templateUpdate('Ritual')">Ritual</button>
        <button class="fusion" (click)="templateUpdate('Fusion')">Fusion</button>
        <button class="synchro" (click)="templateUpdate('Synchro')" style="color: black;">Synchro</button>
        <button class="xyz" (click)="templateUpdate('Xyz')">Xyz</button>
        <button class="link" (click)="templateUpdate('Link')">Link</button>
      </div>

      <div class="templateRow2">
        <button class="spell" (click)="templateUpdate('Spell')">Spell</button>
        <button class="trap" (click)="templateUpdate('Trap')">Trap</button>
        <button class="token" (click)="templateUpdate('Token')">Token</button>
        <button #templateDropdownToggle class="input-with-dropdown" (click)="toggleTemplateDropdown()">Other
          <i class='bx bx-chevron-down'></i>
          <ul #templateDropdownList class="dropdown-options" *ngIf="showTemplateDropdown">
            <button class="skill" (click)="templateUpdate('Skill'); toggleTemplateDropdown();">Skill</button>
            <button class="darkSynchro" (click)="templateUpdate('Dark Synchro'); toggleTemplateDropdown();">Dark
              Synchro</button>
            <button class="slifer" (click)="templateUpdate('Slifer'); toggleTemplateDropdown();">Slifer</button>
            <button class="obelisk" (click)="templateUpdate('Obelisk'); toggleTemplateDropdown();">Obelisk</button>
            <button class="ra" (click)="templateUpdate('Ra'); toggleTemplateDropdown();">Ra</button>
            <button class="legendaryDragon"
              (click)="templateUpdate('Legendary Dragon'); toggleTemplateDropdown();">Legendary
              Dragon</button>
          </ul>
        </button>
      </div>
    </div>
    <div class="section">
      <div class="section2">
        <div class="row">
          <div class="titleFlex">
            <label class="label">Title</label>
            <input class="input" type="text" [(ngModel)]="title" (input)="autoTitleTextAdjustment()" />
          </div>
        </div>
        <div *ngIf="!['Spell', 'Trap', 'Skill', 'Legendary Dragon'].includes(template)" class="flex3">
          <label class="label">Attribute</label>
          <div class="attributeRow">
            <button class="dark" (click)="updateAttribute('Dark')"></button>
            <button class="light" (click)="updateAttribute('Light')"></button>
            <button class="earth" (click)="updateAttribute('Earth')"></button>
            <button class="wind" (click)="updateAttribute('Wind')"></button>
            <button class="fire" (click)="updateAttribute('Fire')"></button>
            <button class="water" (click)="updateAttribute('Water')"></button>
            <button class="divine" (click)="updateAttribute('Divine')"></button>
          </div>
        </div>
        <div *ngIf="!['Spell', 'Trap', 'Skill', 'Legendary Dragon', 'Link'].includes(template)" class="flex3">
          <label class="label">{{levelType}}</label>
          <div class="levelRow">
            <button *ngFor="let lvl of [1,2,3,4,5,6,7,8,9,10,11,12,13]" (click)="updateLevelValue(lvl)" [ngClass]="{
              'level-active': levelType === 'Level' && shouldApplyBackground(lvl),
              'rank-active': levelType === 'Rank' && shouldApplyBackground(lvl),
              'nlevel-active': levelType === 'Negative Level' && shouldApplyBackground(lvl)
            }">
              {{lvl}}
            </button>
          </div>
        </div>
      </div>
      <div class="section2">
        <div class="flex3">
          <label class="label">Title Styles</label>
          <select class="input" [(ngModel)]="titleStyle">
            <option *ngFor="let TitleStyle of titleStyles">{{ TitleStyle }}</option>
          </select>
        </div>
        <div *ngIf="['Normal', 'Effect', 'Ritual', 'Fusion', 'Synchro', 'Xyz'].includes(template)" class="flex3">
          <label class="label">
            Pendulum Template</label>
          <input class="checkbox" type="checkbox" [style.accentColor]="'#1a8d5d'" [(ngModel)]="pendulumTemplate"
            (change)="autoMonsterTypeAdjustment()" />
        </div>
      </div>
    </div>


    <div *ngIf="!['Spell', 'Trap', 'Skill'].includes(template)">
      <div class="input-group-horizontal">
        <div class="input-column monster-type-column">
          <label class="input-label">Monster Type
            <div class="icon-container add-slot-icon" (click)="addPrimaryMonsterTypeSlot()"
              *ngIf="primaryMonsterTypeSlots.length < 4">
              <i class='bx bx-plus'></i>
            </div>
          </label>
          <div class="input-with-dropdown">
            <input class="input2" type="text" size="10" [(ngModel)]="primaryMonsterTypeSlots[0].selectedValue"
              (input)="onPrimaryTypeInput(primaryMonsterTypeSlots[0])" placeholder="Type or Select Type">
            <button #primaryMonsterTypeDropdownToggle class="dropdown-toggle" (click)="toggleMonsterTypeDropdown()">
              <i class='bx bx-chevron-down'></i>
            </button>
            <ul #primaryMonsterTypeDropdownList class="dropdown-options" *ngIf="showMonsterTypeDropdown">
              <li *ngFor="let value of primaryMonsterTypes"
                (click)="selectMonsterTypeFromDropdown(primaryMonsterTypeSlots[0], value)">
                {{ value }}
              </li>
            </ul>
          </div>
        </div>
        <ng-container *ngFor="let slot of primaryMonsterTypeSlots.slice(1); let i = index; trackBy: trackById">
          <div class="input-column monster-type-column">
            <label class="input-label">Extra Type {{ i + 2 }}
              <div class="icon-container remove-slot-icon" (click)="removePrimaryMonsterTypeSlot(slot.id)">
                <i class='bx bx-minus'></i>
              </div>
            </label>
            <div class="input-with-dropdown">
              <input class="input2" type="text" size="10" [(ngModel)]="slot.selectedValue"
                (input)="onPrimaryTypeInput(slot)">

              <button class="dropdown-toggle" (click)="toggleAdditionalMonsterTypeDropdown(i)">
                <i class='bx bx-chevron-down'></i>
              </button>

              <ul class="dropdown-options" *ngIf="showAdditionalMonsterTypeDropdown[i]">
                <li *ngFor="let value of primaryMonsterTypes"
                  (click)="selectMonsterTypeFromDropdown(slot, value); toggleAdditionalMonsterTypeDropdown(i)">
                  {{ value }}
                </li>
              </ul>
            </div>

          </div>
        </ng-container>
        <div class="input-column ability-section">
          <label class="input-label">Ability Type</label>
          <div class="input-with-dropdown">
            <input class="input2" type="text" size="5" [(ngModel)]="abilityMonsterType" (input)="onAbilityInput()">
            <button #abilityDropdownToggle class="dropdown-toggle" (click)="toggleAbilityDropdown()">
              <i class='bx bx-chevron-down'></i>
            </button>
            <ul #abilityDropdownList class="dropdown-options" *ngIf="showAbilityDropdown">
              <li *ngFor="let value of abilityMonsterTypes"
                (click)="selectAbilityFromDropdown(value); toggleAbilityDropdown()">
                {{ value }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>





    <div *ngIf="template === 'Link'" class="core">
      <p class="hint">Link Settings</p>
      <h2>Link Arrow Selection</h2>
      <div class="link-arrow-grid">
        <div class="cell">
          <label>
            <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.topLeft"
              (change)="updateLinkRating()" />
          </label>
        </div>
        <div class="cell">
          <label>
            <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.top"
              (change)="updateLinkRating()" />
          </label>
        </div>
        <div class="cell">
          <label>
            <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.topRight"
              (change)="updateLinkRating()" />
          </label>
        </div>
        <div class="cell">
          <label>
            <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.left"
              (change)="updateLinkRating()" />
          </label>
        </div>
        <div class="cell center">
        </div>
        <div class="cell">
          <label>
            <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.right"
              (change)="updateLinkRating()" />
          </label>
        </div>
        <div class="cell">
          <label>
            <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.bottomLeft"
              (change)="updateLinkRating()" />
          </label>
        </div>
        <div class="cell">
          <label>
            <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.bottom"
              (change)="updateLinkRating()" />
          </label>
        </div>
        <div class="cell">
          <label>
            <input type="checkbox" [style.accentColor]="'red'" [(ngModel)]="linkArrows.bottomRight"
              (change)="updateLinkRating()" />
          </label>
        </div>
      </div>
      <h2>Link Rating: {{ linkRating }}</h2>
    </div>

    <div class="row">
      <div *ngIf="!['Spell', 'Trap', 'Skill'].includes(template)" class="textInputFields">
        <div *ngIf="!['Spell', 'Trap'].includes(template)" class="textarea-group">
          <p class="textareaLabel">Monster {{effectTypes}} Text</p>
          <textarea class="textareaField" [(ngModel)]="effectText" rows="8" cols="40"
            [ngStyle]="effectTypes === 'Lore' ? {'font-style': 'italic'} : {}" (input)="adjustEffectText()">
      </textarea>
        </div>
      </div>
      <div *ngIf="pendulumTemplate" class="textInputFields2">
        <div class="textarea-group">
          <div class="f">
            <div *ngIf="pendulumTemplate">
              <div class="row">
                <img class="pendulemIcon" style="width: 5rem;" src="assets/leftScale.png">
                <div class="flex4">
                  <label class="label">Pendulum Scale</label>
                  <select class="input" [(ngModel)]="pendulumScale">
                    <option *ngFor="let value of [1,2,3,4,5,6,7,8,9,10,11,12,13]">{{ value }}</option>
                  </select>
                </div>
                <img class="pendulemIcon" style="width: 5rem;" src="assets/rightScale.png">
              </div>
            </div>
            <p class="textareaLabel">Pendulum Text</p>
          </div>
          <textarea class="textareaField" [(ngModel)]="pendulumEffectText" rows="8" cols="40"
            (input)="adjustPendulumEffectText()">
          </textarea>
        </div>
      </div>
    </div>
    <div *ngIf="!['Spell', 'Trap', 'Skill', 'Legendary Dragon'].includes(template)">
      <div class="row">
        <div class="row2">
          <div class="flex3">
            <label class="short2">Attack</label>
            <input class="input" type="text" size="1" [(ngModel)]="attack" />
          </div>
          <div *ngIf="template != 'Link'" class="flex3">
            <label class="short2">Defense</label>
            <input class="input" type="text" size="1" [(ngModel)]="defense" />
          </div>
        </div>
        <div class="row2">
          <div class="flex3">
            <label class="short">Card Art</label>
            <input type="file" id="file-upload" (change)="onImageSelected($event)" style="margin-left: 1rem;" />
          </div>
          <div class="flex3">
            <button class="input" (click)="generateCardPng()">Generate Card Image</button>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>