* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Times New Roman', Times, serif;
}

:root {
  --bg-color: #0a1a2f;
  --second-bg-color: #16325c;
  --text-color: #ededed;
  --main-color: #2196f3;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
}